In [1]:
import pandas as pd
import json
import numpy as np

In [2]:
df = pd.read_csv("company_data.csv", na_values = ['nm','na'])

In [3]:
df.head(5)

,Company Name,Sector,Price EOD(LC),Target Price(LC),Latest Rating,Mkt cap,P/E (x) FY-2,P/E (x) FY-1,P/E (x) FY0,P/E (x) FY1,...,EBIT growth FY-2,EBIT growth FY-1,EBIT growth FY0,EBIT growth FY1,EBIT growth FY2,Core net profit growth FY-2,Core net profit growth FY-1,Core net profit growth FY0,Core net profit growth FY1,Core net profit growth FY2
0,Alibaba Group,Internet,156.53,190.0,Hold,408543.30000,16.839669,37.552886,44.398141,41.571154,...,25.792090,65.126108,45.266882,18.581043,51.229164,22.326406,35.241055,44.645850,25.245425,35.178019
1,China Mobile,Telecommunications,76.35,77.0,Hold,199311.92080,14.923658,14.249767,12.926698,14.769976,...,-12.272417,14.735431,1.725832,-24.725020,-7.470826,-0.621692,0.186108,5.092835,-18.940791,-3.676102
2,Sun Hung Kai Properties,Real Estate,117.00,122.0,Hold,43190.07602,8.632233,7.691263,7.350294,10.483525,...,26.683642,2.321874,20.606389,3.427537,8.109272,21.916772,7.426562,17.073916,6.323341,5.730407
3,China Telecom Corporation,Telecommunications,3.77,4.5,Buy,38900.36700,14.773311,14.559099,14.301455,13.096432,...,-7.250356,2.942289,0.000000,7.352175,16.069905,13.421158,-10.152588,3.402153,9.440795,18.316708
4,Sands China,Macau Gaming,35.75,40.2,Buy,36829.81545,21.860729,22.161111,25.560822,25.401478,...,14.013281,-38.345990,-3.248779,8.085392,17.970569,15.261118,-41.315441,-10.528257,6.253948,20.666237

In [4]:
df.describe()

,Price EOD(LC),Target Price(LC),Mkt cap,P/E (x) FY-2,P/E (x) FY-1,P/E (x) FY0,P/E (x) FY1,P/E (x) FY2,P/B FY-2,P/B FY-1,...,EBIT growth FY-2,EBIT growth FY-1,EBIT growth FY0,EBIT growth FY1,EBIT growth FY2,Core net profit growth FY-2,Core net profit growth FY-1,Core net profit growth FY0,Core net profit growth FY1,Core net profit growth FY2
count,101.000000,101.000000,101.000000,95.000000,93.000000,96.000000,97.000000,98.000000,98.000000,99.000000,...,85.000000,84.000000,83.000000,84.000000,86.000000,95.000000,95.000000,95.000000,96.000000,98.000000
mean,17.375178,20.571284,13013.719266,24.501517,23.291522,20.186437,20.299950,16.081829,3.576279,3.265748,...,13.848389,12.871427,32.569811,9.071775,22.409532,15.448517,31.826136,22.699529,11.491306,22.537972
std,26.080452,31.767781,45081.613053,47.732491,31.505499,15.461829,18.493694,10.876957,8.402292,7.338736,...,52.544261,53.312841,103.705570,27.337916,31.285058,61.384151,146.894546,44.667198,41.733866,43.416693
min,0.680000,0.740000,36.529085,3.321847,3.592991,1.868944,4.375818,3.264437,0.338268,0.394792,...,-74.390829,-88.938393,-63.179897,-56.812193,-20.645729,-68.927696,-94.035221,-52.292967,-94.583856,-31.465514
25%,2.730000,3.002193,883.345139,11.660250,11.270720,10.530357,11.289373,10.129384,1.094095,0.971131,...,-14.901988,-8.923284,-0.562908,-5.744481,7.625870,-6.131267,-9.221395,0.301588,-3.415272,6.629294
50%,6.520000,7.250000,3029.045396,16.994127,17.377718,18.002676,16.826536,14.006559,1.750394,1.726625,...,2.891015,5.035567,15.136801,8.528949,16.652792,5.670040,4.950985,12.100090,7.997059,15.469027
75%,19.523000,21.200000,10719.590740,24.907387,24.627508,25.894592,23.100926,20.248838,3.914674,3.748296,...,26.300688,22.849060,40.577509,24.634130,26.794782,22.852403,29.963910,29.650534,24.282298,28.237210
max,156.530000,190.000000,408543.300000,468.759428,289.538109,123.433958,140.200372,91.955160,80.839534,72.319463,...,219.587621,265.482493,914.682540,118.301454,237.245308,429.720002,1345.547371,267.145142,304.336425,390.581588

In [11]:
df_extract = df[['Company Name','Sector',
                'Dividend yld (%) FY-2','Dividend yld (%) FY-1','Dividend yld (%) FY0',
                'Dividend yld (%) FY1','Dividend yld (%) FY2',
                'Revenue growth FY-2','Revenue growth FY-1','Revenue growth FY0',
                'Revenue growth FY1','Revenue growth FY2']]
df_extract.head(5)

,Company Name,Sector,Dividend yld (%) FY-2,Dividend yld (%) FY-1,Dividend yld (%) FY0,Dividend yld (%) FY1,Dividend yld (%) FY2,Revenue growth FY-2,Revenue growth FY-1,Revenue growth FY0,Revenue growth FY1,Revenue growth FY2
0,Alibaba Group,Internet,0.000000,0.000000,0.000000,0.000000,0.000000,32.726629,56.484383,58.122990,59.687247,33.187816
1,China Mobile,Telecommunications,3.007635,3.236807,8.343710,3.385995,3.261522,2.582620,5.997890,4.530216,-0.251114,1.603969
2,Sun Hung Kai Properties,Real Estate,4.137560,3.574542,3.927365,4.197062,4.437570,36.537742,-14.231663,9.509379,11.403600,5.537169
3,China Telecom Corporation,Telecommunications,2.604696,2.930273,2.997628,3.058140,2.914239,2.098682,6.440782,3.884732,6.838085,4.655388
4,Sands China,Macau Gaming,5.224106,7.502028,5.912640,5.638544,5.638544,6.706112,-28.249206,-2.449796,9.719582,8.186474

In [32]:
# API to get plain scores
def get_scores():
    df = pd.read_csv("company_data.csv", na_values = ['nm','na'])
    df_extract = df[['Company Name','Sector',
                    'Dividend yld (%) FY-2','Dividend yld (%) FY-1','Dividend yld (%) FY0',
                    'Dividend yld (%) FY1','Dividend yld (%) FY2',
                    'Revenue growth FY-2','Revenue growth FY-1','Revenue growth FY0',
                    'Revenue growth FY1','Revenue growth FY2']]
    X = df_extract.values
    
    scores = np.zeros((len(X), 1))
    
    for i, datapoint in enumerate(X):
        score = sum(datapoint[2:])
        if(np.isnan(score)):
            scores[i] = -1000000
        else:
            scores[i] = score
    X = np.hstack((X,scores))
    X_extract = X[:, [0, 1, 12]]
    
    company_score = {}
    sector_company = {}

    for row in X_extract:
        if(row[0] not in company_score):
            company_score[row[0]] = row[2]

    for row in X_extract:
        if row[1] in sector_company:
            # append the new company to the existing sector
            sector_company[row[1]].append({row[0]:company_score[row[0]]})
        else:
            # create a new array in this slot
            sector_company[row[1]] = [{row[0]:company_score[row[0]]}]
    
    return json.dumps(sector_company)
  
def get_scores_columns(list_values):

    df = pd.read_csv("company_data.csv", na_values = ['nm','na'])
    df_extract = df[['Company Name','Sector',
                    'Dividend yld (%) FY-2','Dividend yld (%) FY-1','Dividend yld (%) FY0',
                    'Dividend yld (%) FY1','Dividend yld (%) FY2',
                    'Revenue growth FY-2','Revenue growth FY-1','Revenue growth FY0',
                    'Revenue growth FY1','Revenue growth FY2']]

    X = df_extract.values

    X_nopriority_list = df[['Dividend yld (%) FY-2','Dividend yld (%) FY-1',
                            'Dividend yld (%) FY0','Dividend yld (%) FY1',
                            'Dividend yld (%) FY2','Revenue growth FY-2',
                            'Revenue growth FY-1','Revenue growth FY0',
                            'Revenue growth FY1','Revenue growth FY2']]

    X_nopriority_list = X_nopriority_list.drop(columns=list_values).values #dataframe without the priority values 
    X_list = df_extract[list_values].values #dataframe with the priority values
    scores = np.zeros((len(X), 1))

    for i in range(len(X)):
        sum_priority = 2*sum(X_list[i])
        sum_no_priority = sum(X_nopriority_list[i])
        score = sum_priority+sum_no_priority
        if(np.isnan(score)):
            scores[i] = -1000000
        else:
            scores[i] = score

    X = np.hstack((X,scores))
    X_extract = X[:, [0, 1, 12]]

    company_score = {}
    sector_company = {}

    for row in X_extract:
        if(row[0] not in company_score):
            company_score[row[0]] = row[2]

    for row in X_extract:
        if row[1] in sector_company:
            # append the new company to the existing sector
            sector_company[row[1]].append({row[0]:company_score[row[0]]})
        else:
            # create a new array in this slot
            sector_company[row[1]] = [{row[0]:company_score[row[0]]}]
    
    return json.dumps(sector_company)